// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row > a {
	margin-bottom: 2em;
}

.job-cards{
	margin: 10px;

}

.job-cards > .card {
	padding: 15px;
}
