// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.new-job-container {
	margin-top: 3em;
}

input[type=radio] {
	margin-left: 15px;
	margin-right: 5px;
}

.btn-space {
  margin-right:0.5rem;
}

.row > a {
	margin-bottom: 2em;
}

.job-cards{
	margin: 10px;

}

.job-cards > .card {
	padding: 25px;
}

.job-overview {
	margin-top: 20px;
}

.job-overview > .row {
	margin-top: 10px 0 10px 0;
	align-items: center; 
}

#company_card > .card {
  max-width: 80%;
}

#job_card > .card {
	max-width: 80%;
}

.card-img-top{
  width:100%;
  height:auto;
}