// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.new-job-container {
	margin-top: 3em;
}

input[type=radio] {
	margin-left: 15px;
	margin-right: 5px;
}

.btn-space {
  margin-right:0.5rem;
}

.row > a {
	margin-bottom: 2em;
}

// for jobs#index
.job-cards{
	margin: 10px;
}

//for jobs#show-id
#job-overview {
	margin-top: 30px;
}

